/* Fonts */

@font-face {
  font-family: 'din';
  src: url('../assets/fonts/DIN-reg.otf');
  /*src: url('../fonts/DIN-reg.eot?#iefix') format('embedded-opentype'),
       url('../fonts/DIN-reg.woff2') format('woff2'),
       url('../fonts/DIN-reg.woff') format('woff'),
       url('../fonts/DIN-reg.ttf') format('truetype'),
       url('../fonts/DIN-reg.svg') format('svg');*/
  font-weight: normal;
  font-style: normal;
}

/* General */

* {

/* Variables
/* Using: var(--cor-bg-principal); */
  --dark: #000;
  --light: #FFF;
  --press: #FDBD2F;
}

body {
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x:hidden;
    margin: 0;
    padding: 0;
    background-color: var(--dark);
}

h1 {
  font-family: din;
  font-size: 32px;
  color: var(--light);
  letter-spacing: 0.8px;
  margin: 0;
}

p {
  width: 320px;
  font-family: din;
  font-size: 16px;
  color: var(--light);
  margin: 0;
  line-height: 24px;
}

#header {
  padding: 64px;
}

#subtitle{
  padding: 12px 0;
  opacity: 0.5;
}

#keyboard-container{
  width: 100%;
  position: absolute;
  bottom: 0;
  overflow-y: scroll;
}

#keyboard {
  width: 1640px !important;
  display: flex;
}

.key {
  font-family: 'din';
  height: 250px;
}

.key.black {
  width: 40px;
  color: #FFF;
  background-color: #111;
}

.key.white {
  width: 80px;
  color: #000;
  background-color: #FFF;
}

.key.playing {
  background-color: var(--press);
}

.label {
  text-align: center;
  padding: 8px;
}
